header{
opacity: 0.8;
background-color: plum;

}
h2{text-indent: 72%;}

footer{
    opacity: 0.8;
    margin-top: 1%;
    padding: 2%;
    background-color: lightgoldenrodyellow;
    text-align: left;
}
section{display: inline-block;  }
#o{  opacity: 0.8;
    width: 34%;
   height: 350px;
  background-color: cyan;
    box-sizing: border-box;
 border: 2px solid purple;
 text-align: center;
 margin-right: 2%;
 float: left;
}
::-webkit-scrollbar{
  width: 10px;
  height:350px ;
}
::-webkit-scrollbar-track
{
  border: 7px solid rgb(137, 135, 141);
}
   /* Handle */ 
   ::-webkit-scrollbar-thumb { 
    background: rgb(247, 129, 227); 
} 

#t{
  width: 62%;
  height: 350px;
  box-sizing: border-box;
  border: 2px solid purple;
  overflow-y: scroll;
  background-color: cyan;
  opacity: 0.8;
}
#bd{
    background-image: url('bg.jpg');
   background-size: cover;
}
#a{ color:rgb(0, 0, 0);
  font-size: medium;
}
p{
   background-color:rgb(192, 125, 255);
   margin-right: 3%;

  margin-left: 3%;
}
